<!DOCTYPE html>

<html>

  <head>

    <title>
      {{ site.title }} | {{ page.title }}
    </title>

    {% include default-style.html %}

    <!-- CSS style stuff goes in default-style.html of _layouts section -->

  </head>

  <body>

    <div class="navigation">
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./contact.html">About</a></li>
        <li><a href="./aboutme.html">Posts</a></li>
      </ul>
    </div>

    <div id="banner">
      <img src="banner_temp_pic copy.jpeg">
      <div class="banner-title"> Post-Bac Nomad </div>
    </div>

    <div class="content">

      {{ content }}

    </div>

    <div class="footer">
      <p> (C) MR Letharky 2018 </p>
    </div>

  </body>

</html>
