<!DOCTYPE html>

<html>

  <head>

    <title>
      {{ site.title }} | {{ page.title }}
    </title>

    {% include home-style.html %}

    <!-- CSS style stuff goes in post-style.html of _layouts section -->

  </head>

  <body>

    <div class="navigation">

      <ul>
        <li><a href="mrletharky.github.io/index.html">Home</a></li>
        <li><a href="mrletharky.github.io/about.html">About</a></li>
        <li><a href="mrletharky.github.io/blog.html">Post Archive</a></li>
      </ul>

    </div>

    <!-- <div class="banner">
      <img src="/media/banner_temp_pic_resize.jpeg">
      <div class="banner-title">MR Letharky</div>
    </div>  -->

    <div class="content">

      <h3> {{ page.title }} </h3>
      <h6> {{ post.date | date: "%b %-d, %Y" }} </h6>
      <br>
      <br>

        {{ content }}

    </div>

    <div class="footer">
      <p> (C) MR Letharky 2018 </p>
    </div>

  </body>

</html>
