<!DOCTYPE html>

<html>

  <head>

    <title>
      {{ site.title }} | {{ page.title }}
    </title>

    {% include post-style.html %}

    <!-- CSS style stuff goes in post-style.html of _layouts section -->

  </head>

  <body>

    <div class="navigation">

      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about.html">About</a></li>
        <li><a href="./blog.html">Post Archive</a></li>
      </ul>

    </div>

    <!-- <div class="banner">
      <img src="/media/banner_temp_pic_resize.jpeg">
      <div class="banner-title">MR Letharky</div>
    </div>  -->

    <div class="content">

      <h1> {{ page.title }} </h1>
      <h6 id="date"> {{ post.date | date: "%A, %-d %B %Y" }} </h6>
      <!-- -d indicates the day, B indicates the month (full or partial), and Y indicates the year -->
      <br>

        {{ content }}

    </div>

    <div class="footer">
      <p> (C) MR Letharky 2018 </p>
    </div>

  </body>

</html>
